body{
    font-family: 'Inter', sans-serif;
    max-width: 100vw;
}

header{
    background-color: #f5f5f5;
    height: 80px;
}

.logo{
    width: 60px;
    padding-left: 12px;
    padding-top: 11px;
}

figcaption{
    display: none;
}

.menuUl{
    font-size: 12px;
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 23px;
    height: 2px;
    padding-top: 10px;
    overflow: hidden;
    background-image: repeating-linear-gradient(#271e60, #271e60 2px, transparent 2px, transparent 5px);
}

.divTitle{
    display: flex;
    justify-content: left;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 13px;
    color: #2e245e;
}

.cardProd{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 50px 30px;
    padding: 10px;
    border: solid #f5f5f5 2px;
}

.cardProdOne{
    margin-top: 10px;
}

.classTag{
    background-color: #2e245e;
    color: #f5f5f5;
    font-size: 11px;
    font-weight: bold;
    max-width: 100px;
    display: inline-block;
    position: absolute;
    padding: 3px 4px 3px 4px;    
    left: 11vw;
}

.productImg{
    width: 175px;
}

.prodName{
    font-weight: bold;
    line-height: 20px;
}

.prodDescr{
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 17px;
    color: #828282;
}

.price{
    font-weight: bold;
    color: #2e245e;
    padding-bottom: 10px;
}

.addToCart{
    color: #828282;
    padding-bottom: 10px;
    background-color: #fff;
    border: none;
    font-size: 18px;
    text-decoration: underline;
}

.search{
    display: flex;
    justify-content: space-between;
    margin: 0px 32px 5px 32px;

}

.searchTxt{
    border: none;
    background-color: #f5f5f5;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    height: 30px;
    padding-left: 8px;
}

.searchButton{
    color: #fff;
    background-color: #6b54de;
    border: none;
}

.shopItems{
    display: flex;
    flex-direction: column;
    border: solid #f5f5f5 2px;
    align-items: center;
    margin: 0px 30px 50px 30px;
}

.cartTitle{
    background-color: #6b54de;
    color: #fff;
    width: 100%;
    height: 36px;
    text-align: center;
    padding-top: 18px;
    font-weight: bold;
}

.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    height: 350px;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fit-content;
}

.cart > label{
    color: #828282;
    padding-top: 7px;
    font-size: 15px;
    text-align: center;
}

#prodList div {
    border: none;
    background-color: #fff;
    margin-bottom: 2px;
    width: -webkit-fill-available;
    width: -moz-available;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#prodList li{
    width: -webkit-fill-available;
    width: -moz-available;
    width: fit-content;
    margin: 0px;
    margin-top: 15px;
    list-style: none;
    background-color: #f5f5f5;
}

#prodList .cardProd{
    margin: 0px;
}

#prodList label {
    display: none;
}

#prodList img {
    width: 50px;
    margin-right: 3px;
}

#prodList h3 {
    font-size: 13px;
    max-width: 135px;
    text-align: start;
    padding-left: 5px;
    background-color: #fff;
}

#prodList span {
    padding-left: 60px;
    padding-top: 2px;
    font-size: 13px;
    color: #2e245e;
}

#prodList button {
    margin-left: 20px;
    border: none;
    background-color: #fff;
    color: #828282;
}

#remove {
    background-color: #f5f5f5;
    border: none;
    font-size: 13px;
    text-decoration: underline;
    
}

@media (min-width: 800px){

.logo{
    padding-left: 4%;
}

.logo:hover{
    cursor: pointer;
}

.menuUl{
    font-size: 13px;
    color: #828282;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position:absolute;
    right: 10px;
    width: 350px;
    padding-top: 0px;
    height: 16px;
    overflow:visible;
    background-image: none;
}

.menuUl > li:hover{
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.clusterSection{
    display: flex;
}

.mainSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 70%;
    margin-bottom: 40px;
}

.divTitle{
    position: absolute;
    left: 0px;
    margin-left: 4%;
    margin-top: 20px;
}

.cardProd{
    max-width: 194px;
    margin: 50px 0px 0px 15px;
    justify-content: space-between;
}

.labelDiv{
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
}

.classTag{
    position: initial;
}

.productImg{
    width: 120px;
}

.search{
    max-width: inherit;
    margin: 0px;
}

.searchTxt{
    width: unset;
    margin-bottom: 10px;
    max-width: 235%;
}

.searchButton{
    margin-bottom: 10px;
}

.searchButton:hover{
    cursor: pointer;
}

.shopCart{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin-top: 50px;
}

.shopItems{
    height: 42%;
    margin: 0px;
    max-width: 260px;
}

.addToCart:hover{
    color: #6b54de;
    cursor: pointer;
}

}